@import '../node_modules//bootstrap/dist/css/bootstrap.min.css';

.pointer {
  cursor: pointer;
}

.font-xlarge {
  font-size: 1.4rem;
}
.font-large {
  font-size: 1.25rem;
}
.text-bold {
  font-weight: bold;
}
.cart-icon-container{
  position: relative;
}
.bg-light-gray{
  background-color: hsl(0, 13%, 91%);
}
.bg-dark-blue{
  background-color: #041E2F;
}
.cart-count{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: yellow;
  top: 0;
  left: 40px;
  border-radius: 50%;
}
.counter-btn{
  background-color: whitesmoke;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.book{
  
}